/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: auto;
}

/* Remova os estilos de lista em elementos ul, ol com uma função de lista, o que sugere que o estilo padrão será removido */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Defina os padrões da raiz do núcleo */
html:focus-within {
  scroll-behavior: smooth;
}

/* Defina os padrões do corpo do núcleo */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Elementos A que não têm uma classe obtêm estilos padrão */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Torne as imagens mais fáceis de trabalhar */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Herdar fontes para entradas e botões */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remova todas as animações, transições e rolagem suave para pessoas que preferem não vê-las */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}